<!DOCTYPE html>
html
  head
  body
    h1 hello #{name}
    if authenticated
     p je suis connecté
    else
     p je ne suis pas connecté

    case friends
      when 0
        p you have no friends
      when 1
        p you have one friends
      default 
        p you have #{friends} friends

    each product in products
      .product
        h4=product.title
        p #{product.content}


